* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}
.container {
  width: 100vh;
}

#topmeny {
  border-bottom: 1px solid #70707050;
  display: flex;
  justify-content: space-evenly;
  padding-left: 20rem;
  padding-right: 20rem;
}

.bg-dark {
  color: rgb(#626262);
}
.bg-light {
  background-color: #dadada;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: #25E6C8;

}
.btn {
  padding: 1.2rem 3.5rem;
  margin: 50px;
  margin-left: 0;
  border: 1px solid transparent;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  background-color: #25E6C8;
  color: white;
}

.btn-primary {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
}

.top-nav {
  padding: .2rem 1rem;
  display: none;
}
.top-nav .container,
 
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  padding: .5rem 1rem;
}
.collapse:not(.show) {
  display: none;
}

.navbar-brand img {
  height: 3rem;
}
.navbar-toggler {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
  color: var(--primary-color)
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
}


#showcase .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #dedede;
  width: 100%;
}

#showcase .container img {
  padding-top: 25px;
}

.text {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}

.text h1 {
  font-size: 1.7rem;
  text-transform: none;
  font-family: roboto slab;
  letter-spacing: .1em;
  font-weight: 1000;
  color: #363636;
  padding-bottom: 2rem;
}
  
.text p { 
  color: #626262;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: roboto slab;
}

.Appointment {
  background-color:#2BAAEC;
  color: white;
  font-family: roboto slab;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}
.hpara{
  color: #2BAAEC;
}

.cont-1{
  font-family: roboto slab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-1 img {
  min-height: 473;
  height: 60%;
  padding-top: 25px;
}

.cont_1_wrap{
  width: 35%;  
}


.para {
  color: #626262;
  font-family: roboto;
}

hr{
  border: 2px solid #25E6C8;
  width: 500px;
}

.num_rep{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hparaa{
  color:#2BAAEC;
  font-size: 20px;
  font-weight: robo slab;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.cont-2 {
  background-color:#F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services hr {
  border: 2px solid #25E6C8;
  width: 250px;
  border: 1;
}




.btn2 {
  width: 200px;
  height: 45px;
  border-radius: .5rem;
  background-color: white;
  color: #2BAAEC;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: rem;
  font-weight: 600;
}

footer{
  background-color: #2BAAEC;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F3FBFF;
}




/* Media queris */

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  
  .collapse:not(.show) {
    display: block;
  }
  
  .navbar-nav {
    flex-direction: row;
    padding-right: 20rem;
    
  }

  a {
    padding: .5rem;
  }

  .top-nav {
    display: block;
  }

  .container {
    max-width: 720px;
  }

  .showcase .container img {
    display: inline-block;
  }

  .content {
    display: flex;
    text-align: left;
  }

  .btn {
    width: 40%;
  }
}








@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}