* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}


.top-nav {
  border-bottom: 1px solid #70707050;
  padding: .5rem;
}


.top-nav .container,
.navbar .container {
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
  margin-left: 20%;
}

.social {

}






.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  padding: 1rem;
  padding-left: 9rem;
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.navbar-brand img {
  height: 3rem;
}

.nav-link {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: #25E6C8;
}

/* Navbar end */

/* Showcase start */

#showcase .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #dedede;
  width: 100%;
}

#showcase .container img {
  padding-top: 25px;
}

.text {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}

.text h1 {
  font-size: 1.7rem;
  text-transform: none;
  font-family: roboto slab;
  letter-spacing: .1em;
  font-weight: 1000;
  color: #363636;
  padding-bottom: 2rem;
}

.text p { 
  color: #626262;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: roboto slab;
}

.Appointment {
  background-color:#2BAAEC;
  color: white;
  font-family: roboto slab;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.btn {
  padding: 1.2rem 3.5rem;
  margin: 50px;
  margin-left: 0;
  border: 1px solid transparent;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  background-color: #25E6C8;
  color: white;
  width: 50%;
}

.hpara{
  color: #2BAAEC;
}

.cont-1{
  font-family: roboto slab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-1 img {
  min-height: 473;
  height: 60%;
  padding-top: 50px;
}

.cont_1_wrap{
  width: 35%;  
}


.para {
  color: #626262;
  font-family: roboto;
}

hr{
  border: 2px solid #25E6C8;
  width: 500px;
}

.num_rep{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hparaa{
  color:#2BAAEC;
  font-size: 20px;
  font-weight: robo slab;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.cont-2 {
  background-color:#F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services hr {
  border: 2px solid #25E6C8;
  width: 250px;
  border: 1;
}




.btn2 {
  width: 200px;
  height: 45px;
  border-radius: .5rem;
  background-color: white;
  color: #2BAAEC;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: rem;
  font-weight: 600;
}

footer{
  background-color: #2BAAEC;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F3FBFF;
}