* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}


.top-nav {
  border-bottom: 1px solid #70707050;
  padding: 1rem;
}

.social {
  word-spacing: 1.5rem;
}

/* Navbar start */

.top-nav .container,
.navbar .container {
  display: flex;
  justify-content: space-between;
   margin: auto 10rem;
} 


.navbar {
  margin: 3rem 0;
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.navbar-brand img {
  height: 3rem;
}

.nav-link {
  padding: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #25E6C8;
}

/* Navbar end */

/* Showcase start */

.showcase .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #dedede;
  width: 100%;
}

.showcase .container img {
  padding-top: 25px;
}


.text h1 {
  font-size: 1.7rem;
  text-transform: none;
  font-family: roboto slab;
  letter-spacing: .1em;
  font-weight: 1000;
  color: #363636;
  padding-bottom: 2rem;
}

.text p { 
  color: #626262;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: roboto slab;
}

.btn {
  padding: 1.2rem 3.5rem;
  margin: 50px;
  margin-left: 0;
  border: 1px solid transparent;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  background-color: #25E6C8;
  color: white;
  width: 50%;
}

/* Showcase end */


/* Appointment start */

.Appointment {
  background-color:#2BAAEC;
  color: white;
  font-family: roboto slab;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}


.hpara{
  color: #2BAAEC;
}

/* Appointment end */


/* About us start */

.cont-1{
  font-family: roboto slab;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cont-1 img {
  min-height: 473;
  height: 60%;
  padding-top: 50px;
}

.cont_1_wrap{
  width: 35%;  
}


.para {
  color: #626262;
  font-family: roboto;
}

hr{
  border: 2px solid #25E6C8;
  width: 500px;
}

.num_rep{
  display: flex;
  justify-content: space-between;
}

.hparaa{
  color:#2BAAEC;
  font-size: 20px;
  font-weight: robo slab;
}

/* About us end */

/* Services start */

.cont-2 {
  background-color:#F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  align-self: center;
  justify-content: center;
  margin-top: 3.5rem;
  width: 20%;
}

.services h1 {
  border-bottom: 3.5px solid #25E6C8;
  width: 100%;
  padding: 1.1rem;
  text-align: center;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2);
  gap: 20px;
  width: 60%;
  margin: 3rem;
}


.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  height: 350px;
}

.item1 p {
  width: 60%;
  text-align: center;
}


.item1 figure { 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25E6C8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.item1 img{ 
  height: 60%;
  width: 60%;
}
.item1:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.item1 figure:hover {
  background-color: #2BAAEC;
  box-shadow: 0 0 30px rgba(43, 170, 236, 1);
}

.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  height: 350px;
}

.item2 p {
  width: 60%;
  text-align: center;
  }

  .item2 figure { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2BAAEC;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .item2 img{ 
    height: 60%;
    width: 60%;
  }

.item3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  height: 350px;
}

.item3 p {
  width: 60%;
  text-align: center;
  }

  .item3 figure { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25E6C8;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  } 

  .item3 img{ 
    height: 60%;
    width: 60%;
  }

  .item3:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  
  .item3 figure:hover {
    background-color: #2BAAEC;
    box-shadow: 0 0 30px rgba(43, 170, 236, 1);
  }

.item4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  height: 350px;
}

.item4 p {
  width: 60%;
  text-align: center;
}

.item4 figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25E6C8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.item4 img {
  height: 60%;
  width: 60%;
}

.item4:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.item4 figure:hover {
  background-color: #2BAAEC;
  box-shadow: 0 0 30px rgba(43, 170, 236, 1);
}

.item5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  height: 350px;
}

.item5 p {
  width: 60%;
  text-align: center;
}

.item5 figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25E6C8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.item5 img {
  height: 60%;
  width: 60%;
}

.item5:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.item5 figure:hover {
  background-color: #2BAAEC;
  box-shadow: 0 0 30px rgba(43, 170, 236, 1);
}

.item6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  height: 350px;
}

.item6 p {
  width: 60%;
  text-align: center;
}

.item6 figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25E6C8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.item6 img {
  height: 60%;
  width: 60%;
}

.item6:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.item6 figure:hover {
  background-color: #2BAAEC;
  box-shadow: 0 0 30px rgba(43, 170, 236, 1);
}

/* Services end */

/* Appointment start */

.btn2 {
  width: 200px;
  height: 45px;
  border-radius: .5rem;
  background-color: white;
  color: #2BAAEC;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: rem;
  font-weight: 600;
}

/* Appointment end */

/* Footer start */

footer{
  background-color: #2BAAEC;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F3FBFF;
}

/* Footer end */

/* ------------------------------------------------------------------ */

 /* Media Queris */

 @media only screen and (max-width: 1250px) {


  .top-nav .container {
    font-size: 7px;
    margin: 0;
    padding: 0;
  }

  .top-nav .container img {
    height: 8.5px;
    width: 15px;
  }

  .social {
    word-spacing: .5rem;
  }

  .navbar {
    margin: .5rem;
  }

  .navbar  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .container img {
    /* width: 30px; */
    /* height: 15px; */
    padding-left: .5rem;
  }

  .navbar-nav {
    font-size: 7px;
    /* flex-direction: column; */
  }

  .nav-link {
    padding: .5rem;
    font-size: .6rem;
  }

  .showcase {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  
  .showcase .container img {
    display: none;
  }
  
  .showcase .container .text h1, .showcase .container p {
    font-size: 10px;
    padding: 10px;
  }
  
  
  .showcase .btn {
    padding: 0;
    margin: 0;
    font-size: 10px;
    width: 30%;
    margin-bottom: 20px;
  }

  .cont-1 {
    margin: 2rem 0;
  }

  .cont_1_wrap {
    font-size: 10px;
    width: 100%;
    text-align: center;
  }

.num_rep {
  justify-content: space-evenly;
}

  .num_rep .hparaa {
    font-size: 10px;
  }

  .num_rep div p {
    font-size: 10px;
  }

   hr {
     margin: 0 auto;
    width: 200px;
  }

  .cont-1 img {
    display: none;
  }

  .services {
    width: 50%;
    margin-bottom: 1rem;
  }


  .cont-2 .grid-container  {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 90%;
  }

  .cont-2 .grid-container div:hover {
    box-shadow: none;
  }
  
  
  .cont-2 .grid-container div figure:hover {
    box-shadow: none;
    background-color: #25E6C8;
  }

  .cont-2 .grid-container .item2 figure:hover {
    background-color: #2BAAEC;
  }


  .Appointment {
    flex-direction: column;
    width: 100%;
  }

  .Appointment h3 {
    font-size: 1rem;
  }


 }